$primary: #1a87c8;
$danger: #dc3545;
$warning: #f8a306;
$maintenance: #1747f5;
$link-color: #12689b;
$border-radius: 50rem;
$secondary-text: #6b8799;

$highlight: #3ca6e2;
$highlight-white: #eaf6fc;

$dark-font-color: #d7e8ff;
$dark-font-color2: #071a33;
$dark-bg: #061427;
$dark-bg2: #031020;
$dark-border-color: #174273;
$dark-header-bg: #09244a;

$easing-in: cubic-bezier(0.54, 0.78, 0.55, 0.97);
$easing-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easing-in-out: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$dropdown-border-radius: 0.5rem;
